body {
    background: #fff;
    color: #000;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000;
  }
  
  .bg-steel {
    background-color: #f4540a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #fff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #000;
  }
  
  a.article-title:hover {
    /* color: #428bca;
>>>>>>> main
======= */
    color: #d8a313;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #000
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .navbar-nav1 {
    position: absolute;
    right: 0;
    float: right;
    margin-right: 10px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .dropdown-toggle {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .left-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
  }
  .left-side button {
    display: block;
  }
  .navbar-nav {
    position: absolute;
    right: 0;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
  }